* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background: rgb(214, 213, 213);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	gap: 30px;
	padding: 20px;
}

.shape {
	width: 200px;
	height: 200px;
}

.shape-1 {
	background: green;
	border-radius: 50%;
}

.shape-2 {
	background: blue;
}

.shape-3 {
	background: yellow;
}

.shape-4 {
	background: orange;
	border-radius: 50%;
}

@media screen and (max-width: 550px) {
	.container {
		width: 100vw;
		height: 100vh;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 20px;
	}

	.shape {
		width: 150px;
		height: 150px;
	}
}
